<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Country of origin:</strong>
  <%= @product.country_of_origin %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<hr>
<%= link_to 'Add Review', new_product_review_path(@product) %>

<div class="container">
    <% @reviews.each do |review| %>

      <% if @product.id == review.product_id %>
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= review.rating %>/5</h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= review.author %></h6>
    <p class="card-text"><%= review.content_body %></p>
    </div>
    </div>
    <br>
      <% end %>
    <% end %>
</div>
